<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Kliva' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1171bb63-e6b6-43a4-9ff5-f3ec1c63c50b</InstrumentationKey>
</ApplicationInsights>